## Imports

In [3]:
import pandas as pd
from os import listdir
from os.path import isfile, join
import matplotlib.pyplot as plt  
plt.style.use('dark_background')

## Loading the Dataframe

In [4]:
cd ..

/home/jonathan/code/rafabertolace/OnThePitch

### Merging the Seasons csv files (2019-2020 untill 2021-2022)

In [5]:
cd ..

/home/jonathan/code/rafabertolace/OnThePitch

In [6]:
print(listdir('raw_data/Turkey'))

['Turkey_2021_2022.csv.csv', 'Turkey_2019_2020.csv.csv', 'Turkey_2020_2021.csv.csv']

In [26]:
print(os.listdir('./../raw_data/Turkey'))

NameError: name 'os' is not defined

In [7]:
files = [file for file in listdir('raw_data/Turkey')]
data = pd.DataFrame()


for file in files:
    df = pd.read_csv('raw_data/Turkey/'+file)
    data = pd.concat([data, df])

In [4]:
files = [file for file in os.listdir('./../raw_data/Turkey')]
data = pd.DataFrame()


for file in files:
    df = pd.read_csv('./../raw_data/Turkey/'+file)
    data = pd.concat([data, df])

In [8]:
data.head()

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,T1,13/08/2021,18:30,Besiktas,Rizespor,3,0,H,1,0,...,2.42,-1.00,1.73,2.08,1.76,2.17,1.88,2.28,1.77,2.09
1,T1,14/08/2021,17:15,Karagumruk,Gaziantep,3,2,H,2,1,...,1.90,-0.50,1.90,1.95,1.93,1.98,1.98,2.00,1.90,1.94
2,T1,14/08/2021,19:45,Altay,Kayserispor,3,0,H,2,0,...,1.84,-0.75,1.95,1.90,2.01,1.89,2.06,1.96,1.98,1.86
3,T1,14/08/2021,19:45,Hatayspor,Kasimpasa,1,1,D,0,1,...,2.26,0.00,1.93,1.93,1.95,1.95,2.00,2.01,1.90,1.94
4,T1,15/08/2021,17:15,Buyuksehyr,Alanyaspor,0,1,A,0,1,...,1.71,-0.25,1.85,2.00,1.87,2.04,1.89,2.18,1.83,2.02

In [66]:
data.describe()

,FTHG,FTAG,HTHG,HTAG,HS,AS,HST,AST,HF,AF,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
count,1106.000000,1106.000000,1106.000000,1106.000000,1106.000000,1106.000000,1106.000000,1106.000000,1106.000000,1106.000000,...,1106.000000,1106.000000,1104.000000,1104.000000,1105.000000,1105.000000,1106.000000,1106.000000,1106.000000,1106.000000
mean,1.565099,1.217902,0.681736,0.529837,13.339964,11.205244,4.845389,4.038879,13.214286,12.721519,...,2.037505,-0.277803,1.918143,1.931341,1.946805,1.958063,2.004277,2.013770,1.920217,1.927396
std,1.291046,1.124183,0.842304,0.755981,5.012218,4.535672,2.435886,2.268679,3.811653,3.683917,...,0.307608,0.596906,0.102314,0.098094,0.105322,0.103540,0.107243,0.106237,0.095903,0.091699
min,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,3.000000,2.000000,...,1.440000,-2.750000,1.600000,1.380000,1.630000,1.400000,1.800000,1.440000,1.660000,1.390000
25%,1.000000,0.000000,0.000000,0.000000,10.000000,8.000000,3.000000,2.000000,11.000000,10.000000,...,1.830000,-0.750000,1.850000,1.850000,1.870000,1.880000,1.930000,1.930000,1.850000,1.860000
50%,1.000000,1.000000,0.000000,0.000000,13.000000,11.000000,5.000000,4.000000,13.000000,12.500000,...,2.000000,-0.250000,1.930000,1.930000,1.940000,1.960000,2.000000,2.010000,1.910000,1.930000
75%,2.000000,2.000000,1.000000,1.000000,16.000000,14.000000,6.000000,5.000000,16.000000,15.000000,...,2.180000,0.000000,2.000000,2.000000,2.020000,2.030000,2.070000,2.090000,1.990000,2.000000
max,7.000000,7.000000,5.000000,5.000000,40.000000,33.000000,15.000000,14.000000,27.000000,28.000000,...,4.640000,2.000000,3.000000,2.300000,3.120000,2.410000,3.650000,2.430000,3.080000,2.280000

In [67]:
nulls = data['B365<2.5'].isnull()

In [69]:
nulls.sum()

3

In [31]:
for col_name in data.columns: 
    print(col_name)

Div
Date
Time
HomeTeam
AwayTeam
FTHG
FTAG
FTR
HTHG
HTAG
HTR
HS
AS
HST
AST
HF
AF
HC
AC
HY
AY
HR
AR
B365H
B365D
B365A
BWH
BWD
BWA
IWH
IWD
IWA
PSH
PSD
PSA
WHH
WHD
WHA
VCH
VCD
VCA
MaxH
MaxD
MaxA
AvgH
AvgD
AvgA
B365>2.5
B365<2.5
P>2.5
P<2.5
Max>2.5
Max<2.5
Avg>2.5
Avg<2.5
AHh
B365AHH
B365AHA
PAHH
PAHA
MaxAHH
MaxAHA
AvgAHH
AvgAHA
B365CH
B365CD
B365CA
BWCH
BWCD
BWCA
IWCH
IWCD
IWCA
PSCH
PSCD
PSCA
WHCH
WHCD
WHCA
VCCH
VCCD
VCCA
MaxCH
MaxCD
MaxCA
AvgCH
AvgCD
AvgCA
B365C>2.5
B365C<2.5
PC>2.5
PC<2.5
MaxC>2.5
MaxC<2.5
AvgC>2.5
AvgC<2.5
AHCh
B365CAHH
B365CAHA
PCAHH
PCAHA
MaxCAHH
MaxCAHA
AvgCAHH
AvgCAHA
Bb1X2
BbMxH
BbAvH
BbMxD
BbAvD
BbMxA
BbAvA
BbOU
BbMx>2.5
BbAv>2.5
BbMx<2.5
BbAv<2.5
BbAH
BbAHh
BbMxAHH
BbAvAHH
BbMxAHA
BbAvAHA

In [6]:
# data_date_2 = pd.to_datetime(data_date, dayfirst = True)

NameError: name 'data_date' is not defined

## Features Engineering

### Number of Goals, Over and Under

In [9]:
# total number of goals = goals from the home team + goals from visiting team
data['nb_goals']=data['FTHG']+data['FTAG']

# boolean: true or false regarding whether they were more than 2.5 goals
data['over_2.5_goals']=data['nb_goals']>2.5

# boolean: true or false regarding whether they were less than 2.5 goals
data['under_2.5_goals']=data['nb_goals']<2.5

### Payout Average

  Payout of betting on over/under 2.5 goals: we get 0 if we lose the bet, we get the Avg if we win the bet (Avg = market average of the odds)

In [10]:
# payout under 2.5 for Average OPENING odds
data['payout_avg_under_2.5'] = data['under_2.5_goals']*data['Avg<2.5']

# payout over 2.5 for Average OPENING odds
data['payout_avg_over_2.5'] = data['over_2.5_goals']*data['Avg>2.5']

# payout under 2.5 for Average CLOSING odds
data['payout_avg_under_closing_2.5'] = data['under_2.5_goals']*data['AvgC<2.5']

# payout over 2.5 for Average CLOSING odds
data['payout_avg_over_closing_2.5'] = data['over_2.5_goals']*data['AvgC>2.5']

#### Payout Pinnacle

In [11]:
#payout UNDER 2.5 for PINACLE specifically
data['payout_under_2.5_pinacle'] = data['under_2.5_goals']*data['P<2.5']

#payout UNDER 2.5 for PINACLE closing ddds specifically
data['payout_under_2.5_pinacle_closing'] = data['under_2.5_goals']*data['PC<2.5']

#payout OVER 2.5 for PINACLE specifically
data['payout_over_2.5_pinacle'] = data['over_2.5_goals']*data['P>2.5']

#payout OVER 2.5 for PINACLE closing odds specifically
data['payout_over_2.5_pinacle_closing'] = data['over_2.5_goals']*data['PC>2.5']

#### Payout bet365

In [12]:
#payout UNDER 2.5 for 365 specifically
data['payout_under_2.5_365'] = data['under_2.5_goals']*data['B365<2.5']

#payout UNDER 2.5 for 365 closing odds specifically
data['payout_under_2.5_365_closing'] = data['under_2.5_goals']*data['B365C<2.5']

#payout OVER 2.5 for 365 specifically
data['payout_over_2.5_365'] = data['over_2.5_goals']*data['B365>2.5']

#payout OVER 2.5 for 365 closing odds specifically
data['payout_over_2.5_365_closing'] = data['over_2.5_goals']*data['B365C>2.5']

### Implied Probability Market Average

In [13]:
#Implied Probability UNDER 2.5 goals for for overall market opening odds (Avg) 
data['Implied Probability <2.5 avg']=1/data['Avg<2.5']*100

#Implied Probability OVER 2.5 goals for for overall market opening odds (Avg) 
data['Implied Probability >2.5 avg']=1/data['Avg>2.5']*100

#Implied Probability UNDER 2.5 goals for overall market closing odds (AvgC)
data['Implied Probability <2.5 avg closing']=1/data['AvgC<2.5']*100

#Implied Probability OVER 2.5 goals for overall market closing odds (AvgC)
data['Implied Probability >2.5 avg closing']=1/data['AvgC>2.5']*100

### Implied Probability Pinnacle

In [15]:
#Implied Probability UNDER 2.5 goals for PINACLE
data['Implied Probability <2.5 pinacle']=1/data['P<2.5']*100

#Implied Probability OVER 2.5 goals for PINACLE
data['Implied Probability >2.5 pinacle']=1/data['P>2.5']*100

#Implied Probability UNDER 2.5 goals for PINACLE closing odds
data['Implied Probability <2.5 pinacle closing']=1/data['PC<2.5']*100

#Implied Probability OVER 2.5 goals for PINACLE closing odds
data['Implied Probability >2.5 pinacle closing']=1/data['PC>2.5']*100

### Implied Probability bet365

In [16]:
#Implied Probability UNDER 2.5 goals for 365
data['Implied Probability <2.5 365']=1/data['B365<2.5']*100

#Implied Probability UNDER 2.5 goals for 365 closing odds
data['Implied Probability <2.5 365 closing']=1/data['B365C<2.5']*100

#Implied Probability OVER 2.5 goals for 365
data['Implied Probability >2.5 365']=1/data['B365>2.5']*100

#Implied Probability OVER 2.5 goals for 365 closing odds
data['Implied Probability >2.5 365 closing']=1/data['B365C>2.5']*100

### Binning the implied probabilities

In [17]:
bins = [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100]

#Binning UNDER 2.5 Average Market opening odds
data['binned <2.5 avg'] = pd.cut(data['Implied Probability <2.5 avg'], bins)

#Binning Over 2.5 Average Market opening odds
data['binned >2.5 avg'] = pd.cut(data['Implied Probability >2.5 avg'], bins)

#Binning UNDER 2.5 Average Market closing odds
data['binned <2.5 avg closing'] = pd.cut(data['Implied Probability <2.5 avg closing'], bins)

#Binning OVER 2.5 Average Market closing odds
data['binned >2.5 avg closing'] = pd.cut(data['Implied Probability >2.5 avg closing'], bins)

### Binning Pinnacle

In [18]:
bins = [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100]

#Binned UNDER 2.5 Pinnacle opening odds
data['binned <2.5 pinacle'] = pd.cut(data['Implied Probability <2.5 pinacle'], bins)

#Binned UNDER 2.5 Pinnacle closing odds
data['binned <2.5 pinacle closing'] = pd.cut(data['Implied Probability <2.5 pinacle closing'], bins)

#Binned OVER 2.5 Pinnacle
data['binned >2.5 pinacle'] = pd.cut(data['Implied Probability >2.5 pinacle'], bins)

#Binned OVER 2.5 Pinnacle CLOSING odds
data['binned >2.5 pinacle closing'] = pd.cut(data['Implied Probability >2.5 pinacle closing'], bins)

In [19]:
#bins of 10

bins = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

#Binned UNDER 2.5 Pinnacle opening odds
data['binned <2.5 pinacle'] = pd.cut(data['Implied Probability <2.5 pinacle'], bins)

#Binned UNDER 2.5 Pinnacle closing odds
data['binned <2.5 pinacle closing'] = pd.cut(data['Implied Probability <2.5 pinacle closing'], bins)

#Binned OVER 2.5 Pinnacle
data['binned >2.5 pinacle'] = pd.cut(data['Implied Probability >2.5 pinacle'], bins)

#Binned OVER 2.5 Pinnacle CLOSING odds
data['binned >2.5 pinacle closing'] = pd.cut(data['Implied Probability >2.5 pinacle closing'], bins)

### Binning bet365

In [20]:
bins = [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100]

#Binned UNDER 2.5 bet365 OPENING odds
data['binned <2.5 365'] = pd.cut(data['Implied Probability <2.5 365'], bins)

#Binned UNDER 2.5 bet365 CLOSING odds
data['binned <2.5 365 closing'] = pd.cut(data['Implied Probability <2.5 365 closing'], bins)

#Binned OVER 2.5 bet365 OPENING odds
data['binned >2.5 365'] = pd.cut(data['Implied Probability >2.5 365'], bins)

#Binned OVER 2.5 bet365 CLOSING odds
data['binned >2.5 365 closing'] = pd.cut(data['Implied Probability >2.5 365 closing'], bins)

In [21]:
data

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,binned <2.5 avg closing,binned >2.5 avg closing,binned <2.5 pinacle,binned <2.5 pinacle closing,binned >2.5 pinacle,binned >2.5 pinacle closing,binned <2.5 365,binned <2.5 365 closing,binned >2.5 365,binned >2.5 365 closing
0,T1,13/08/2021,18:30,Besiktas,Rizespor,3,0,H,1,0,...,"(40, 45]","(60, 65]","(30, 40]","(30, 40]","(60, 70]","(60, 70]","(40, 45]","(40, 45]","(65, 70]","(65, 70]"
1,T1,14/08/2021,17:15,Karagumruk,Gaziantep,3,2,H,2,1,...,"(50, 55]","(50, 55]","(50, 60]","(50, 60]","(50, 60]","(50, 60]","(45, 50]","(50, 55]","(55, 60]","(50, 55]"
2,T1,14/08/2021,19:45,Altay,Kayserispor,3,0,H,2,0,...,"(50, 55]","(50, 55]","(50, 60]","(50, 60]","(40, 50]","(50, 60]","(50, 55]","(50, 55]","(50, 55]","(50, 55]"
3,T1,14/08/2021,19:45,Hatayspor,Kasimpasa,1,1,D,0,1,...,"(40, 45]","(60, 65]","(40, 50]","(40, 50]","(50, 60]","(50, 60]","(45, 50]","(40, 45]","(55, 60]","(60, 65]"
4,T1,15/08/2021,17:15,Buyuksehyr,Alanyaspor,0,1,A,0,1,...,"(55, 60]","(45, 50]","(50, 60]","(50, 60]","(40, 50]","(40, 50]","(55, 60]","(55, 60]","(45, 50]","(45, 50]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
415,T1,15/05/2021,16:00,Sivasspor,Kasimpasa,2,1,H,1,0,...,"(45, 50]","(55, 60]","(40, 50]","(40, 50]","(50, 60]","(50, 60]","(45, 50]","(45, 50]","(55, 60]","(55, 60]"
416,T1,15/05/2021,18:30,Galatasaray,Yeni Malatyaspor,3,1,H,0,1,...,"(20, 25]","(80, 85]","(20, 30]","(20, 30]","(80, 90]","(80, 90]","(20, 25]","(20, 25]","(80, 85]","(80, 85]"
417,T1,15/05/2021,18:30,Goztep,Besiktas,1,2,A,1,1,...,"(25, 30]","(75, 80]","(20, 30]","(20, 30]","(70, 80]","(70, 80]","(25, 30]","(25, 30]","(75, 80]","(75, 80]"
418,T1,15/05/2021,18:30,Kayserispor,Fenerbahce,1,2,A,1,0,...,"(40, 45]","(60, 65]","(40, 50]","(40, 50]","(60, 70]","(60, 70]","(40, 45]","(40, 45]","(60, 65]","(60, 65]"
419,T1,15/05/2021,18:30,Trabzonspor,Genclerbirligi,2,1,H,1,0,...,"(35, 40]","(65, 70]","(40, 50]","(30, 40]","(60, 70]","(60, 70]","(35, 40]","(35, 40]","(65, 70]","(65, 70]"

## Final Dataset

### Average Market (AvG)

In [80]:
#Average Market UNDER opening odds
fdf_under_avg = data[['Implied Probability <2.5 avg','under_2.5_goals','binned <2.5 avg','payout_avg_under_2.5']]

#Average Market OVER opening odds
fdf_over_avg = data[['Implied Probability >2.5 avg','over_2.5_goals','binned >2.5 avg','payout_avg_over_2.5']]

#Average Market UNDER closing odds
fdf_under_avg_closing = data[['Implied Probability <2.5 avg closing','under_2.5_goals','binned <2.5 avg closing','payout_avg_under_closing_2.5']]

#Average Market OVER opening odds
fdf_over_avg_closing = data[['Implied Probability >2.5 avg closing','over_2.5_goals','binned >2.5 avg closing','payout_avg_over_closing_2.5']]

### Pinnacle

In [81]:
#pinnacle UNDER opening odds
fdf_under_pinacle = data[['Implied Probability <2.5 pinacle','under_2.5_goals','binned <2.5 pinacle','payout_under_2.5_pinacle']]

#pinnacle OVER opening odds
fdf_over_pinacle = data[['Implied Probability >2.5 pinacle','over_2.5_goals','binned >2.5 pinacle','payout_over_2.5_pinacle']]

#pinnacle UNDER closing odds
fdf_under_pinacle_closing = data[['Implied Probability <2.5 pinacle closing','under_2.5_goals','binned <2.5 pinacle closing','payout_under_2.5_pinacle_closing']]

#pinnacle OVER closing odds
fdf_over_pinacle_closing = data[['Implied Probability >2.5 pinacle closing','over_2.5_goals','binned >2.5 pinacle closing','payout_over_2.5_pinacle_closing']]

### bet365

In [82]:
#bet365 UNDER opening odds
fdf_under_365 = data[['Implied Probability <2.5 365','under_2.5_goals','binned <2.5 365','payout_under_2.5_365']]

#bet365 OVER opening odds
fdf_over_365 = data[['Implied Probability >2.5 365','over_2.5_goals','binned >2.5 365','payout_over_2.5_365']]

#bet365 UNDER closing odds
fdf_under_365_closing = data[['Implied Probability <2.5 365 closing','under_2.5_goals','binned <2.5 365 closing','payout_under_2.5_365_closing']]

#bet365 OVER closing odds
fdf_over_365_closing = data[['Implied Probability >2.5 365 closing','over_2.5_goals','binned >2.5 365 closing','payout_over_2.5_365_closing']]

## Results per implied prob Average Market

### Under

#### Avg opening odds

In [302]:
fdf_under_avg_gb_count = fdf_under_avg.groupby('binned <2.5 avg')['payout_avg_under_2.5'].count()
fdf_under_avg_gb_count

binned <2.5 avg
(0, 5]         0
(5, 10]        0
(10, 15]       0
(15, 20]       0
(20, 25]       1
(25, 30]       1
(30, 35]      10
(35, 40]      36
(40, 45]     156
(45, 50]     349
(50, 55]     327
(55, 60]     193
(60, 65]      31
(65, 70]       2
(70, 75]       0
(75, 80]       0
(80, 85]       0
(85, 90]       0
(90, 95]       0
(95, 100]      0
Name: payout_avg_under_2.5, dtype: int64

In [301]:
fdf_under_avg_gb_mean = fdf_under_avg.groupby('binned <2.5 avg')['payout_avg_under_2.5'].mean()
fdf_under_avg_gb_mean

binned <2.5 avg
(0, 5]            NaN
(5, 10]           NaN
(10, 15]          NaN
(15, 20]          NaN
(20, 25]     0.000000
(25, 30]     0.000000
(30, 35]     0.295000
(35, 40]     0.782500
(40, 45]     0.756154
(45, 50]     1.049083
(50, 55]     0.997492
(55, 60]     0.889223
(60, 65]     0.835161
(65, 70]     0.760000
(70, 75]          NaN
(75, 80]          NaN
(80, 85]          NaN
(85, 90]          NaN
(90, 95]          NaN
(95, 100]         NaN
Name: payout_avg_under_2.5, dtype: float64

#### Avg closing odds

In [304]:
fdf_under_avg_closing_gb_count = fdf_under_avg_closing.groupby('binned <2.5 avg closing')['payout_avg_under_closing_2.5'].count()
fdf_under_avg_closing_gb_count

binned <2.5 avg closing
(0, 5]         0
(5, 10]        0
(10, 15]       0
(15, 20]       0
(20, 25]       1
(25, 30]       3
(30, 35]      14
(35, 40]      56
(40, 45]     167
(45, 50]     315
(50, 55]     304
(55, 60]     176
(60, 65]      62
(65, 70]       8
(70, 75]       0
(75, 80]       0
(80, 85]       0
(85, 90]       0
(90, 95]       0
(95, 100]      0
Name: payout_avg_under_closing_2.5, dtype: int64

In [305]:
fdf_under_avg_closing_gb_mean = fdf_under_avg_closing.groupby('binned <2.5 avg closing')['payout_avg_under_closing_2.5'].mean()
fdf_under_avg_closing_gb_mean

binned <2.5 avg closing
(0, 5]            NaN
(5, 10]           NaN
(10, 15]          NaN
(15, 20]          NaN
(20, 25]     0.000000
(25, 30]     0.000000
(30, 35]     0.233571
(35, 40]     0.996964
(40, 45]     0.760898
(45, 50]     1.059079
(50, 55]     0.987401
(55, 60]     0.919659
(60, 65]     0.861129
(65, 70]     0.742500
(70, 75]          NaN
(75, 80]          NaN
(80, 85]          NaN
(85, 90]          NaN
(90, 95]          NaN
(95, 100]         NaN
Name: payout_avg_under_closing_2.5, dtype: float64

### Over

#### Opening Odds

In [309]:
fdf_over_avg_gb_count = fdf_over_avg.groupby('binned >2.5 avg')['payout_avg_over_2.5'].count()
fdf_over_avg_gb_count

binned >2.5 avg
(0, 5]         0
(5, 10]        0
(10, 15]       0
(15, 20]       0
(20, 25]       0
(25, 30]       0
(30, 35]       0
(35, 40]       2
(40, 45]      23
(45, 50]     185
(50, 55]     322
(55, 60]     332
(60, 65]     184
(65, 70]      43
(70, 75]      10
(75, 80]       4
(80, 85]       0
(85, 90]       1
(90, 95]       0
(95, 100]      0
Name: payout_avg_over_2.5, dtype: int64

In [308]:
fdf_over_avg_gb_mean = fdf_over_avg.groupby('binned >2.5 avg')['payout_avg_over_2.5'].mean()
fdf_over_avg_gb_mean

binned >2.5 avg
(0, 5]            NaN
(5, 10]           NaN
(10, 15]          NaN
(15, 20]          NaN
(20, 25]          NaN
(25, 30]          NaN
(30, 35]          NaN
(35, 40]     1.310000
(40, 45]     1.104348
(45, 50]     1.016757
(50, 55]     0.905590
(55, 60]     0.878283
(60, 65]     1.010272
(65, 70]     0.974651
(70, 75]     1.243000
(75, 80]     1.317500
(80, 85]          NaN
(85, 90]     1.170000
(90, 95]          NaN
(95, 100]         NaN
Name: payout_avg_over_2.5, dtype: float64

#### Closing Odds

In [313]:
fdf_over_avg_closing_gb_count = fdf_over_avg_closing.groupby('binned >2.5 avg closing')['payout_avg_over_closing_2.5'].count()
fdf_over_avg_closing_gb_count

binned >2.5 avg closing
(0, 5]         0
(5, 10]        0
(10, 15]       0
(15, 20]       0
(20, 25]       0
(25, 30]       0
(30, 35]       0
(35, 40]       5
(40, 45]      46
(45, 50]     191
(50, 55]     297
(55, 60]     296
(60, 65]     186
(65, 70]      62
(70, 75]      14
(75, 80]       7
(80, 85]       2
(85, 90]       0
(90, 95]       0
(95, 100]      0
Name: payout_avg_over_closing_2.5, dtype: int64

In [312]:
fdf_over_avg_closing_gb_mean = fdf_over_avg_closing.groupby('binned >2.5 avg closing')['payout_avg_over_closing_2.5'].mean()
fdf_over_avg_closing_gb_mean

binned >2.5 avg closing
(0, 5]            NaN
(5, 10]           NaN
(10, 15]          NaN
(15, 20]          NaN
(20, 25]          NaN
(25, 30]          NaN
(30, 35]          NaN
(35, 40]     0.502000
(40, 45]     1.256739
(45, 50]     0.976545
(50, 55]     0.917239
(55, 60]     0.862230
(60, 65]     0.979140
(65, 70]     1.056129
(70, 75]     0.982143
(75, 80]     1.120000
(80, 85]     1.215000
(85, 90]          NaN
(90, 95]          NaN
(95, 100]         NaN
Name: payout_avg_over_closing_2.5, dtype: float64

## Results per implied prob Pinnacle

### Under

#### Pinnacle opening odds

In [296]:
fdf_under_pinacle_gb_count = fdf_under_pinacle.groupby('binned <2.5 pinacle')['payout_under_2.5_pinacle'].count()
fdf_under_pinacle_gb_count

binned <2.5 pinacle
(0, 5]         0
(5, 10]        0
(10, 15]       0
(15, 20]       0
(20, 25]       1
(25, 30]       3
(30, 35]      12
(35, 40]      49
(40, 45]     192
(45, 50]     398
(50, 55]     276
(55, 60]     146
(60, 65]      23
(65, 70]       2
(70, 75]       0
(75, 80]       0
(80, 85]       0
(85, 90]       0
(90, 95]       0
(95, 100]      0
Name: payout_under_2.5_pinacle, dtype: int64

In [298]:
fdf_under_pinacle_gb_mean = fdf_under_pinacle.groupby('binned <2.5 pinacle')['payout_under_2.5_pinacle'].mean()
fdf_under_pinacle_gb_mean

binned <2.5 pinacle
(0, 5]            NaN
(5, 10]           NaN
(10, 15]          NaN
(15, 20]          NaN
(20, 25]     0.000000
(25, 30]     0.000000
(30, 35]     0.260000
(35, 40]     0.956939
(40, 45]     0.835833
(45, 50]     1.044196
(50, 55]     1.001304
(55, 60]     0.910068
(60, 65]     0.847826
(65, 70]     0.765000
(70, 75]          NaN
(75, 80]          NaN
(80, 85]          NaN
(85, 90]          NaN
(90, 95]          NaN
(95, 100]         NaN
Name: payout_under_2.5_pinacle, dtype: float64

In [207]:
fdf_under_pinacle['payout_under_2.5_pinacle'].mean()

0.9585662431941923

In [208]:
fdf_under_pinacle_above_40 = fdf_Under_pinacle[fdf_Under_pinacle['Implied Probability <2.5 pinacle']>40]

In [209]:
fdf_under_pinacle_above_40['payout_under_2.5_pinacle'].mean()

0.9975848303393213

#### Closing Odds

In [299]:
fdf_under_pinacle_closing_gb_count = fdf_under_pinacle_closing.groupby('binned <2.5 pinacle closing')['payout_under_2.5_pinacle_closing'].count()
fdf_under_pinacle_closing_gb_count

binned <2.5 pinacle closing
(0, 5]         0
(5, 10]        0
(10, 15]       0
(15, 20]       0
(20, 25]       2
(25, 30]       6
(30, 35]      16
(35, 40]      79
(40, 45]     187
(45, 50]     329
(50, 55]     272
(55, 60]     164
(60, 65]      45
(65, 70]       5
(70, 75]       0
(75, 80]       0
(80, 85]       0
(85, 90]       0
(90, 95]       0
(95, 100]      0
Name: payout_under_2.5_pinacle_closing, dtype: int64

In [300]:
fdf_under_pinacle_closing_gb_mean = fdf_under_pinacle_closing.groupby('binned <2.5 pinacle closing')['payout_under_2.5_pinacle_closing'].mean()
fdf_under_pinacle_closing_gb_mean

binned <2.5 pinacle closing
(0, 5]            NaN
(5, 10]           NaN
(10, 15]          NaN
(15, 20]          NaN
(20, 25]     0.000000
(25, 30]     0.566667
(30, 35]     1.102500
(35, 40]     0.573418
(40, 45]     0.990428
(45, 50]     1.064468
(50, 55]     1.010147
(55, 60]     0.891341
(60, 65]     0.861333
(65, 70]     0.892000
(70, 75]          NaN
(75, 80]          NaN
(80, 85]          NaN
(85, 90]          NaN
(90, 95]          NaN
(95, 100]         NaN
Name: payout_under_2.5_pinacle_closing, dtype: float64

### Over

#### Opening odds

In [258]:
fdf_over_pinacle_gb_count = fdf_over_pinacle.groupby('binned >2.5 pinacle')['payout_over_2.5_pinacle'].count()
fdf_over_pinacle_gb_count

binned >2.5 pinacle
(0, 5]         0
(5, 10]        0
(10, 15]       0
(15, 20]       0
(20, 25]       0
(25, 30]       0
(30, 35]       0
(35, 40]       2
(40, 45]      46
(45, 50]     224
(50, 55]     297
(55, 60]     321
(60, 65]     158
(65, 70]      43
(70, 75]       7
(75, 80]       3
(80, 85]       1
(85, 90]       0
(90, 95]       0
(95, 100]      0
Name: payout_over_2.5_pinacle, dtype: int64

In [217]:
fdf_over_pinacle.groupby('binned >2.5 pinacle')['payout_over_2.5_pinacle'].mean()

binned >2.5 pinacle
(0, 5]            NaN
(5, 10]           NaN
(10, 15]          NaN
(15, 20]          NaN
(20, 25]          NaN
(25, 30]          NaN
(30, 35]          NaN
(35, 40]     1.390000
(40, 45]     0.912391
(45, 50]     1.031205
(50, 55]     0.964141
(55, 60]     0.844486
(60, 65]     1.069367
(65, 70]     1.075116
(70, 75]     1.167143
(75, 80]     1.303333
(80, 85]     1.210000
(85, 90]          NaN
(90, 95]          NaN
(95, 100]         NaN
Name: payout_over_2.5_pinacle, dtype: float64

In [257]:
fdf_over_pinacle_gb_mean = fdf_over_pinacle['payout_over_2.5_pinacle'].mean()
fdf_over_pinacle_gb_mean

0.9633847549909257

In [229]:
fdf_over_pinacle_above_60 = fdf_over_pinacle[fdf_over_pinacle['Implied Probability >2.5 pinacle']>60]

In [220]:
fdf_over_pinacle_above_60['payout_over_2.5_pinacle'].mean()

1.0777358490566038

#### Closing odds

In [228]:
fdf_over_pinacle_closing_gb_count = fdf_over_pinacle_closing.groupby('binned >2.5 pinacle closing')['payout_over_2.5_pinacle_closing'].count()
fdf_over_pinacle_closing_gb_count

binned >2.5 pinacle closing
(0, 5]         0
(5, 10]        0
(10, 15]       0
(15, 20]       0
(20, 25]       0
(25, 30]       0
(30, 35]       1
(35, 40]      12
(40, 45]      82
(45, 50]     203
(50, 55]     281
(55, 60]     293
(60, 65]     158
(65, 70]      56
(70, 75]      12
(75, 80]       5
(80, 85]       2
(85, 90]       0
(90, 95]       0
(95, 100]      0
Name: payout_over_2.5_pinacle_closing, dtype: int64

In [226]:
fdf_over_pinacle_closing_gb_mean = fdf_over_pinacle_closing.groupby('binned >2.5 pinacle closing')['payout_over_2.5_pinacle_closing'].mean()
fdf_over_pinacle_closing_gb_mean

binned >2.5 pinacle closing
(0, 5]            NaN
(5, 10]           NaN
(10, 15]          NaN
(15, 20]          NaN
(20, 25]          NaN
(25, 30]          NaN
(30, 35]     0.000000
(35, 40]     1.072500
(40, 45]     1.155732
(45, 50]     0.931034
(50, 55]     0.933559
(55, 60]     0.894915
(60, 65]     1.055696
(65, 70]     1.040000
(70, 75]     0.921667
(75, 80]     1.320000
(80, 85]     1.230000
(85, 90]          NaN
(90, 95]          NaN
(95, 100]         NaN
Name: payout_over_2.5_pinacle_closing, dtype: float64

## Results per implied prob bet365

### Under

#### Opening odds

In [240]:
fdf_under_bet365_gb_count = fdf_under_365.groupby('binned <2.5 365')['payout_under_2.5_365'].count()
fdf_under_bet365_gb_count

binned <2.5 365
(0, 5]         0
(5, 10]        0
(10, 15]       0
(15, 20]       0
(20, 25]       1
(25, 30]       5
(30, 35]       9
(35, 40]      26
(40, 45]     137
(45, 50]     458
(50, 55]     233
(55, 60]     173
(60, 65]      58
(65, 70]       3
(70, 75]       0
(75, 80]       0
(80, 85]       0
(85, 90]       0
(90, 95]       0
(95, 100]      0
Name: payout_under_2.5_365, dtype: int64

In [103]:
fdf_under_bet365_gb_mean = fdf_under_365.groupby('binned <2.5 365')['payout_under_2.5_365'].mean()
fdf_under_bet365_gb_mean

binned <2.5 365
(0, 5]            NaN
(5, 10]           NaN
(10, 15]          NaN
(15, 20]          NaN
(20, 25]     0.000000
(25, 30]     0.000000
(30, 35]     0.344444
(35, 40]     0.788462
(40, 45]     0.729197
(45, 50]     1.023166
(50, 55]     1.053391
(55, 60]     0.831561
(60, 65]     0.959310
(65, 70]     0.500000
(70, 75]          NaN
(75, 80]          NaN
(80, 85]          NaN
(85, 90]          NaN
(90, 95]          NaN
(95, 100]         NaN
Name: payout_under_2.5_365, dtype: float64

In [106]:
## median
fdf_under_bet365_gb_mean = fdf_under_365.groupby('binned <2.5 365')['payout_under_2.5_365'].agg(['median','mean','max','count'])
fdf_under_bet365_gb_mean

                 median      mean   max  count
binned <2.5 365
(0, 5]              NaN       NaN   NaN      0
(5, 10]             NaN       NaN   NaN      0
(10, 15]            NaN       NaN   NaN      0
(15, 20]            NaN       NaN   NaN      0
(20, 25]           0.00  0.000000  0.00      1
(25, 30]           0.00  0.000000  0.00      5
(30, 35]           0.00  0.344444  3.10      9
(35, 40]           0.00  0.788462  2.70     26
(40, 45]           0.00  0.729197  2.40    137
(45, 50]           0.00  1.023166  2.20    458
(50, 55]           1.85  1.053391  1.98    233
(55, 60]           0.00  0.831561  1.80    173
(60, 65]           1.60  0.959310  1.66     58
(65, 70]           0.00  0.500000  1.50      3
(70, 75]            NaN       NaN   NaN      0
(75, 80]            NaN       NaN   NaN      0
(80, 85]            NaN       NaN   NaN      0
(85, 90]            NaN       NaN   NaN      0
(90, 95]            NaN       NaN   NaN      0
(95, 100]           NaN       NaN   NaN      0

In [237]:
fdf_under_365['payout_under_2.5_365'].mean()

0.9415684496826835

In [231]:
fdf_under_365_above_40 = fdf_under_365[fdf_under_365['Implied Probability <2.5 365']>40]

In [232]:
fdf_under_365_above_40['payout_under_2.5_365'].mean()

0.9556967984934087

#### Closing odds

In [244]:
fdf_under_bet365_closing_gb_count = fdf_under_365_closing.groupby('binned <2.5 365 closing')['payout_under_2.5_365_closing'].count()
fdf_under_bet365_closing_gb_count

binned <2.5 365 closing
(0, 5]         0
(5, 10]        0
(10, 15]       0
(15, 20]       0
(20, 25]       3
(25, 30]       7
(30, 35]      15
(35, 40]      49
(40, 45]     148
(45, 50]     391
(50, 55]     217
(55, 60]     162
(60, 65]     100
(65, 70]      14
(70, 75]       0
(75, 80]       0
(80, 85]       0
(85, 90]       0
(90, 95]       0
(95, 100]      0
Name: payout_under_2.5_365_closing, dtype: int64

In [245]:
fdf_under_bet365_closing_gb_mean = fdf_under_365_closing.groupby('binned <2.5 365 closing')['payout_under_2.5_365_closing'].mean()
fdf_under_bet365_closing_gb_mean

binned <2.5 365 closing
(0, 5]            NaN
(5, 10]           NaN
(10, 15]          NaN
(15, 20]          NaN
(20, 25]     0.000000
(25, 30]     0.500000
(30, 35]     0.956667
(35, 40]     0.744898
(40, 45]     0.800000
(45, 50]     1.031867
(50, 55]     0.980968
(55, 60]     0.959815
(60, 65]     0.798700
(65, 70]     0.966429
(70, 75]          NaN
(75, 80]          NaN
(80, 85]          NaN
(85, 90]          NaN
(90, 95]          NaN
(95, 100]         NaN
Name: payout_under_2.5_365_closing, dtype: float64

### Over

#### Opening Odds

In [247]:
fdf_over_bet365_gb_count = fdf_over_365.groupby('binned >2.5 365')['payout_over_2.5_365'].count()
fdf_over_bet365_gb_count

binned >2.5 365
(0, 5]         0
(5, 10]        0
(10, 15]       0
(15, 20]       0
(20, 25]       0
(25, 30]       0
(30, 35]       0
(35, 40]       2
(40, 45]      23
(45, 50]     246
(50, 55]     236
(55, 60]     322
(60, 65]     205
(65, 70]      54
(70, 75]       9
(75, 80]       5
(80, 85]       1
(85, 90]       0
(90, 95]       0
(95, 100]      0
Name: payout_over_2.5_365, dtype: int64

In [248]:
fdf_over_bet365_gb_mean = fdf_over_365.groupby('binned >2.5 365')['payout_over_2.5_365'].mean()
fdf_over_bet365_gb_mean

binned >2.5 365
(0, 5]            NaN
(5, 10]           NaN
(10, 15]          NaN
(15, 20]          NaN
(20, 25]          NaN
(25, 30]          NaN
(30, 35]          NaN
(35, 40]     1.300000
(40, 45]     1.097826
(45, 50]     1.034350
(50, 55]     0.880551
(55, 60]     0.868851
(60, 65]     0.976537
(65, 70]     0.973333
(70, 75]     1.231111
(75, 80]     1.318000
(80, 85]     1.180000
(85, 90]          NaN
(90, 95]          NaN
(95, 100]         NaN
Name: payout_over_2.5_365, dtype: float64

In [131]:
fdf_over_365['payout_over_2.5_365'].mean()

0.9448462929475587

In [108]:
## median
fdf_over_bet365_gb_mean = fdf_over_365.groupby('binned >2.5 365')['payout_over_2.5_365'].agg(['median','mean','max','count'])
fdf_over_bet365_gb_mean

                 median      mean   max  count
binned >2.5 365
(0, 5]              NaN       NaN   NaN      0
(5, 10]             NaN       NaN   NaN      0
(10, 15]            NaN       NaN   NaN      0
(15, 20]            NaN       NaN   NaN      0
(20, 25]            NaN       NaN   NaN      0
(25, 30]            NaN       NaN   NaN      0
(30, 35]            NaN       NaN   NaN      0
(35, 40]           1.30  1.300000  2.60      2
(40, 45]           0.00  1.097826  2.40     23
(45, 50]           2.00  1.034350  2.20    246
(50, 55]           0.00  0.880551  1.98    236
(55, 60]           0.00  0.868851  1.80    322
(60, 65]           1.57  0.976537  1.66    205
(65, 70]           1.47  0.973333  1.53     54
(70, 75]           1.40  1.231111  1.40      9
(75, 80]           1.33  1.318000  1.33      5
(80, 85]           1.18  1.180000  1.18      1
(85, 90]            NaN       NaN   NaN      0
(90, 95]            NaN       NaN   NaN      0
(95, 100]           NaN       NaN   NaN      0

#### Closing Odds

In [251]:
fdf_over_bet365_closing_gb_count = fdf_over_365_closing.groupby('binned >2.5 365 closing')['payout_over_2.5_365_closing'].count()
fdf_over_bet365_closing_gb_count

binned >2.5 365 closing
(0, 5]         0
(5, 10]        0
(10, 15]       0
(15, 20]       0
(20, 25]       0
(25, 30]       0
(30, 35]       0
(35, 40]       6
(40, 45]      53
(45, 50]     236
(50, 55]     224
(55, 60]     279
(60, 65]     202
(65, 70]      81
(70, 75]      15
(75, 80]       8
(80, 85]       2
(85, 90]       0
(90, 95]       0
(95, 100]      0
Name: payout_over_2.5_365_closing, dtype: int64

In [252]:
fdf_over_bet365_closing_gb_mean = fdf_over_365_closing.groupby('binned >2.5 365 closing')['payout_over_2.5_365_closing'].mean()
fdf_over_bet365_closing_gb_mean

binned >2.5 365 closing
(0, 5]            NaN
(5, 10]           NaN
(10, 15]          NaN
(15, 20]          NaN
(20, 25]          NaN
(25, 30]          NaN
(30, 35]          NaN
(35, 40]     0.833333
(40, 45]     1.083962
(45, 50]     0.975636
(50, 55]     0.931518
(55, 60]     0.854229
(60, 65]     0.942079
(65, 70]     1.107407
(70, 75]     0.920000
(75, 80]     1.136250
(80, 85]     1.210000
(85, 90]          NaN
(90, 95]          NaN
(95, 100]         NaN
Name: payout_over_2.5_365_closing, dtype: float64

In [256]:
fdf_over_365_closing['payout_over_2.5_365_closing'].mean()

0.9448462929475587

## Model

### Ensuring we have the data for the model

In [238]:
## Pre-requesite: we need 'binned <2.5 pinacle' + 'payout_under_2.5_pinacle' features from section 3 (Features Engineering)

In [22]:
## Adding the Year Feature
data_date = data['Date']
data_date_2 = pd.to_datetime(data_date, dayfirst = True)
data['year'] = pd.DatetimeIndex(data_date_2).year

### One hot encoder for Years and Bins

In [23]:
# OneHotEncoder for the Implied Probs bins

from sklearn.preprocessing import OneHotEncoder
# Instantiate encoder
ohe = OneHotEncoder(sparse=False)

# Fit encoder
ohe.fit(data[['binned <2.5 pinacle']])
# Encode GarageFinish
bins_encoded = ohe.transform(data[['binned <2.5 pinacle']])
# Transpose encoded Alley back into dataframe
data["bin_1"], data["bin_2"], data["bin_3"], data["bin_4"],data["bin_5"],data["bin_6"]  = bins_encoded.T
#, data["bin_7"], data["bin_8"],data["bin_9"],data["bin_10"],data["bin_11"]
#data["(20, 25]"], data["(25, 30]"], data["(30, 35]"], data["(35, 40]"],data["(40, 45]"],data["(45, 50]"], data["(50, 55]"], data["(55, 60]"],data["(60, 65]"],data["(65, 70]"] = bins_encoded.T
#dropping GarageFinish
data.drop(columns='binned <2.5 pinacle', inplace=True)

##, data["(70, 75]"], data["(75, 80]"],data["(80, 85]"],data["(85, 90]"],data["(90, 95]"], data["(95, 100]"]

In [24]:
# OneHotEncoder for the years

# Instantiate encoder
ohe_2 = OneHotEncoder(sparse=False)

# Fit encoder
ohe_2.fit(data[['year']])
# Encode GarageFinish
years_encoded = ohe_2.transform(data[['year']])
# Transpose encoded Alley back into dataframe
data["year_1"], data["year_2"], data["year_3"], data["year_4"]= years_encoded.T 
#data["(20, 25]"], data["(25, 30]"], data["(30, 35]"], data["(35, 40]"],data["(40, 45]"],data["(45, 50]"], data["(50, 55]"], data["(55, 60]"],data["(60, 65]"],data["(65, 70]"] = bins_encoded.T
#dropping GarageFinish
data.drop(columns='year', inplace=True)

### Building the dataset

In [254]:
testing_years_encoder = data[["year_1","year_2","year_3","year_4",'year']]

In [263]:
## testing_years_encoder[testing_years_encoder['year']==2022]

     year_1  year_2  year_3  year_4  year
190     0.0     0.0     0.0     1.0  2022
191     0.0     0.0     0.0     1.0  2022
192     0.0     0.0     0.0     1.0  2022
193     0.0     0.0     0.0     1.0  2022
194     0.0     0.0     0.0     1.0  2022
..      ...     ...     ...     ...   ...
375     0.0     0.0     0.0     1.0  2022
376     0.0     0.0     0.0     1.0  2022
377     0.0     0.0     0.0     1.0  2022
378     0.0     0.0     0.0     1.0  2022
379     0.0     0.0     0.0     1.0  2022

[190 rows x 5 columns]

In [277]:
testing_bins_encoder = data[["bin_1","bin_2","bin_3","bin_4","bin_5","bin_6",'binned <2.5 pinacle']]

In [281]:
testing_bins_encoder[testing_bins_encoder['binned <2.5 pinacle']=='(30, 40]']

Empty DataFrame
Columns: [bin_1, bin_2, bin_3, bin_4, bin_5, bin_6, binned <2.5 pinacle]
Index: []

In [ ]:
### continue here

In [25]:
log_reg_model_raw_data = data[["year_1","year_2","year_3","year_4","bin_1","bin_2","bin_3","bin_4","bin_5","bin_6",'payout_under_2.5_pinacle']]

In [48]:
log_reg_model_raw_data_final = log_reg_model_raw_data.groupby(["year_1","year_2","year_3","year_4","bin_1","bin_2","bin_3","bin_4","bin_5","bin_6"]).mean()

In [49]:
log_reg_model_raw_data_final_count = log_reg_model_raw_data.groupby(["year_1","year_2","year_3","year_4","bin_1","bin_2","bin_3","bin_4","bin_5","bin_6"]).agg(['mean','count'])

In [53]:
log_reg_model_raw_data_final_count.reset_index(inplace=True)

In [56]:
log_reg_model_raw_data_final_count.columns

MultiIndex([(                  'year_1',      ''),
            (                  'year_2',      ''),
            (                  'year_3',      ''),
            (                  'year_4',      ''),
            (                   'bin_1',      ''),
            (                   'bin_2',      ''),
            (                   'bin_3',      ''),
            (                   'bin_4',      ''),
            (                   'bin_5',      ''),
            (                   'bin_6',      ''),
            ('payout_under_2.5_pinacle',  'mean'),
            ('payout_under_2.5_pinacle', 'count')],
           )

In [58]:
log_reg_model_raw_data_final_count_2 = log_reg_model_raw_data_final_count[log_reg_model_raw_data_final_count['payout_under_2.5_pinacle', 'count']>30]

In [78]:
log_reg_model_raw_data_final_count_2[log_reg_model_raw_data_final_count_2['bin_4']==1]

   year_1 year_2 year_3 year_4 bin_1 bin_2 bin_3 bin_4 bin_5 bin_6  \

1     0.0    0.0    0.0    1.0   0.0   0.0   0.0   1.0   0.0   0.0
5     0.0    0.0    1.0    0.0   0.0   0.0   0.0   1.0   0.0   0.0
11    0.0    1.0    0.0    0.0   0.0   0.0   0.0   1.0   0.0   0.0
16    1.0    0.0    0.0    0.0   0.0   0.0   0.0   1.0   0.0   0.0

   payout_under_2.5_pinacle
                       mean count
1                  0.921507    73
5                  1.008421   209
11                 0.910870    92
16                 0.987500    48

In [27]:
log_reg_model_raw_data_final = log_reg_model_raw_data_final.reset_index()

In [28]:
log_reg_model_raw_data_final['payout_is_greater_1'] = log_reg_model_raw_data_final['payout_under_2.5_pinacle']>1

In [29]:
log_reg_model_raw_data_final['payout_is_greater_1'] = log_reg_model_raw_data_final['payout_is_greater_1'].astype(int)

### Running the Logistic Regression

In [30]:
%load_ext autoreload
%autoreload 2

In [31]:
import pandas as pd
import seaborn as sns
import statsmodels.api as sm
import statsmodels.formula.api as smf
import matplotlib.pyplot as plt
from statsmodels.stats.outliers_influence import variance_inflation_factor as vif

In [43]:
log_reg_model_raw_data_final[log_reg_model_raw_data_final['bin_5']==1.0]

,year_1,year_2,year_3,year_4,bin_1,bin_2,bin_3,bin_4,bin_5,bin_6,payout_under_2.5_pinacle,payout_is_greater_1
0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.800000,0
4,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.761333,0
10,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.296000,1
15,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.510000,0

In [32]:
logit_one = smf.logit(formula='payout_is_greater_1 ~ year_1 + year_2 + year_3 + year_4 + bin_1 + bin_2 + bin_3 + bin_4 + bin_5 + bin_6', data=log_reg_model_raw_data_final).fit();
logit_one.params
logit_one.summary()

Warning: Maximum number of iterations has been exceeded.
         Current function value: 0.362311
         Iterations: 35

/home/jonathan/.pyenv/versions/3.8.12/envs/OnThePitch/lib/python3.8/site-packages/statsmodels/base/model.py:604: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "

<class 'statsmodels.iolib.summary.Summary'>
"""
                            Logit Regression Results
===============================================================================
Dep. Variable:     payout_is_greater_1   No. Observations:                   20
Model:                           Logit   Df Residuals:                       11
Method:                            MLE   Df Model:                            8
Date:                 Wed, 01 Jun 2022   Pseudo R-squ.:                  0.3557
Time:                         00:33:19   Log-Likelihood:                -7.2462
converged:                       False   LL-Null:                       -11.247
Covariance Type:             nonrobust   LLR p-value:                    0.4334
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept    -10.8028   3.47e+07  -3.11e-07      1.000    -6.8e+07     6.8e+07
year_1       -22.3659        nan        nan        nan         nan         nan
year_2         4.2605        nan        nan        nan         nan         nan
year_3         4.2605        nan        nan        nan         nan         nan
year_4         3.0421        nan        nan        nan         nan         nan
bin_1        -18.5362        nan        nan        nan         nan         nan
bin_2          6.1935        nan        nan        nan         nan         nan
bin_3          7.6891        nan        nan        nan         nan         nan
bin_4          6.1935        nan        nan        nan         nan         nan
bin_5          6.1935        nan        nan        nan         nan         nan
bin_6        -18.5362        nan        nan        nan         nan         nan
==============================================================================

Possibly complete quasi-separation: A fraction 0.40 of observations can be
perfectly predicted. This might indicate that there is complete
quasi-separation. In this case some parameters will not be identified.
"""