## Imports

In [1]:
import pandas as pd
from os import listdir
from os.path import isfile, join
import matplotlib.pyplot as plt  
plt.style.use('dark_background')

## Loading the Dataframe

In [2]:
pwd

'/home/rafael/code/rafabertolace/OnThePitch/notebooks'

### Merging the Seasons csv files (2019-2020 untill 2021-2022)

In [3]:
print(os.listdir('./../raw_data/France'))

['Ligue 1 2020-2021.csv', 'Ligue 1 2019-2020.csv', 'Ligue 1 2021-2022.csv']

In [4]:
files = [file for file in os.listdir('./../raw_data/France')]
data = pd.DataFrame()


for file in files:
    df = pd.read_csv('./../raw_data/France/'+file)
    data = pd.concat([data, df])

In [5]:
data.head()

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,F1,21/08/2020,18:00,Bordeaux,Nantes,0,0,D,0,0,...,1.43,0.00,1.86,2.04,1.85,2.07,1.90,2.24,1.82,2.05
1,F1,22/08/2020,16:00,Dijon,Angers,0,1,A,0,1,...,1.49,0.25,1.86,2.07,1.85,2.06,1.88,2.08,1.83,2.03
2,F1,22/08/2020,20:00,Lille,Rennes,1,1,D,1,0,...,1.64,-0.50,1.90,2.03,1.92,2.00,1.95,2.05,1.89,1.96
3,F1,23/08/2020,12:00,Monaco,Reims,2,2,D,1,2,...,1.62,-0.50,1.95,1.98,1.95,1.97,1.96,1.99,1.92,1.92
4,F1,23/08/2020,14:00,Lorient,Strasbourg,3,1,H,0,1,...,1.58,-0.25,2.08,1.85,2.09,1.83,2.14,1.86,2.07,1.80

In [6]:
for col_name in data.columns: 
    print(col_name)

Div
Date
Time
HomeTeam
AwayTeam
FTHG
FTAG
FTR
HTHG
HTAG
HTR
HS
AS
HST
AST
HF
AF
HC
AC
HY
AY
HR
AR
B365H
B365D
B365A
BWH
BWD
BWA
IWH
IWD
IWA
PSH
PSD
PSA
WHH
WHD
WHA
VCH
VCD
VCA
MaxH
MaxD
MaxA
AvgH
AvgD
AvgA
B365>2.5
B365<2.5
P>2.5
P<2.5
Max>2.5
Max<2.5
Avg>2.5
Avg<2.5
AHh
B365AHH
B365AHA
PAHH
PAHA
MaxAHH
MaxAHA
AvgAHH
AvgAHA
B365CH
B365CD
B365CA
BWCH
BWCD
BWCA
IWCH
IWCD
IWCA
PSCH
PSCD
PSCA
WHCH
WHCD
WHCA
VCCH
VCCD
VCCA
MaxCH
MaxCD
MaxCA
AvgCH
AvgCD
AvgCA
B365C>2.5
B365C<2.5
PC>2.5
PC<2.5
MaxC>2.5
MaxC<2.5
AvgC>2.5
AvgC<2.5
AHCh
B365CAHH
B365CAHA
PCAHH
PCAHA
MaxCAHH
MaxCAHA
AvgCAHH
AvgCAHA

In [7]:
# data_date_2 = pd.to_datetime(data_date, dayfirst = True)

## Features Engineering

### Number of Goals, Over and Under

In [8]:
# total number of goals = goals from the home team + goals from visiting team
data['nb_goals']=data['FTHG']+data['FTAG']

# boolean: true or false regarding whether they were more than 2.5 goals
data['over_2.5_goals']=data['nb_goals']>2.5

# boolean: true or false regarding whether they were less than 2.5 goals
data['under_2.5_goals']=data['nb_goals']<2.5

### Payout Average

  Payout of betting on over/under 2.5 goals: we get 0 if we lose the bet, we get the Avg if we win the bet (Avg = market average of the odds)

In [9]:
# payout under 2.5 for Average OPENING odds
data['payout_avg_under_2.5'] = data['under_2.5_goals']*data['Avg<2.5']

# payout over 2.5 for Average OPENING odds
data['payout_avg_over_2.5'] = data['over_2.5_goals']*data['Avg>2.5']

# payout under 2.5 for Average CLOSING odds
data['payout_avg_under_closing_2.5'] = data['under_2.5_goals']*data['AvgC<2.5']

# payout over 2.5 for Average CLOSING odds
data['payout_avg_over_closing_2.5'] = data['over_2.5_goals']*data['AvgC>2.5']

#### Payout Pinnacle

In [10]:
#payout UNDER 2.5 for PINACLE specifically
data['payout_under_2.5_pinacle'] = data['under_2.5_goals']*data['P<2.5']

#payout UNDER 2.5 for PINACLE closing ddds specifically
data['payout_under_2.5_pinacle_closing'] = data['under_2.5_goals']*data['PC<2.5']

#payout OVER 2.5 for PINACLE specifically
data['payout_over_2.5_pinacle'] = data['over_2.5_goals']*data['P>2.5']

#payout OVER 2.5 for PINACLE closing odds specifically
data['payout_over_2.5_pinacle_closing'] = data['over_2.5_goals']*data['PC>2.5']

#### Payout bet365

In [11]:
#payout UNDER 2.5 for 365 specifically
data['payout_under_2.5_365'] = data['under_2.5_goals']*data['B365<2.5']

#payout UNDER 2.5 for 365 closing odds specifically
data['payout_under_2.5_365_closing'] = data['under_2.5_goals']*data['B365C<2.5']

#payout OVER 2.5 for 365 specifically
data['payout_over_2.5_365'] = data['over_2.5_goals']*data['B365>2.5']

#payout OVER 2.5 for 365 closing odds specifically
data['payout_over_2.5_365_closing'] = data['over_2.5_goals']*data['B365C>2.5']

### Implied Probability Market Average

In [12]:
#Implied Probability UNDER 2.5 goals for for overall market opening odds (Avg) 
data['Implied Probability <2.5 avg']=1/data['Avg<2.5']*100

#Implied Probability OVER 2.5 goals for for overall market opening odds (Avg) 
data['Implied Probability >2.5 avg']=1/data['Avg>2.5']*100

#Implied Probability UNDER 2.5 goals for overall market closing odds (AvgC)
data['Implied Probability <2.5 avg closing']=1/data['AvgC<2.5']*100

#Implied Probability OVER 2.5 goals for overall market closing odds (AvgC)
data['Implied Probability >2.5 avg closing']=1/data['AvgC>2.5']*100

### Implied Probability Pinnacle

In [13]:
#Implied Probability UNDER 2.5 goals for PINACLE
data['Implied Probability <2.5 pinacle']=1/data['P<2.5']*100

#Implied Probability OVER 2.5 goals for PINACLE
data['Implied Probability >2.5 pinacle']=1/data['P>2.5']*100

#Implied Probability UNDER 2.5 goals for PINACLE closing odds
data['Implied Probability <2.5 pinacle closing']=1/data['PC<2.5']*100

#Implied Probability OVER 2.5 goals for PINACLE closing odds
data['Implied Probability >2.5 pinacle closing']=1/data['PC>2.5']*100

### Implied Probability bet365

In [14]:
#Implied Probability UNDER 2.5 goals for 365
data['Implied Probability <2.5 365']=1/data['B365<2.5']*100

#Implied Probability UNDER 2.5 goals for 365 closing odds
data['Implied Probability <2.5 365 closing']=1/data['B365C<2.5']*100

#Implied Probability OVER 2.5 goals for 365
data['Implied Probability >2.5 365']=1/data['B365>2.5']*100

#Implied Probability OVER 2.5 goals for 365 closing odds
data['Implied Probability >2.5 365 closing']=1/data['B365C>2.5']*100

### Binning the implied probabilities

In [15]:
bins = [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100]

#Binning UNDER 2.5 Average Market opening odds
data['binned <2.5 avg'] = pd.cut(data['Implied Probability <2.5 avg'], bins)

#Binning Over 2.5 Average Market opening odds
data['binned >2.5 avg'] = pd.cut(data['Implied Probability >2.5 avg'], bins)

#Binning UNDER 2.5 Average Market closing odds
data['binned <2.5 avg closing'] = pd.cut(data['Implied Probability <2.5 avg closing'], bins)

#Binning OVER 2.5 Average Market closing odds
data['binned >2.5 avg closing'] = pd.cut(data['Implied Probability >2.5 avg closing'], bins)

### Binning Pinnacle

In [16]:
bins = [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100]

#Binned UNDER 2.5 Pinnacle opening odds
data['binned <2.5 pinacle'] = pd.cut(data['Implied Probability <2.5 pinacle'], bins)

#Binned UNDER 2.5 Pinnacle closing odds
data['binned <2.5 pinacle closing'] = pd.cut(data['Implied Probability <2.5 pinacle closing'], bins)

#Binned OVER 2.5 Pinnacle
data['binned >2.5 pinacle'] = pd.cut(data['Implied Probability >2.5 pinacle'], bins)

#Binned OVER 2.5 Pinnacle CLOSING odds
data['binned >2.5 pinacle closing'] = pd.cut(data['Implied Probability >2.5 pinacle closing'], bins)

### Binning bet365

In [17]:
bins = [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100]

#Binned UNDER 2.5 bet365 OPENING odds
data['binned <2.5 365'] = pd.cut(data['Implied Probability <2.5 365'], bins)

#Binned UNDER 2.5 bet365 CLOSING odds
data['binned <2.5 365 closing'] = pd.cut(data['Implied Probability <2.5 365 closing'], bins)

#Binned OVER 2.5 bet365 OPENING odds
data['binned >2.5 365'] = pd.cut(data['Implied Probability >2.5 365'], bins)

#Binned OVER 2.5 bet365 CLOSING odds
data['binned >2.5 365 closing'] = pd.cut(data['Implied Probability >2.5 365 closing'], bins)

In [18]:
data

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,binned <2.5 avg closing,binned >2.5 avg closing,binned <2.5 pinacle,binned <2.5 pinacle closing,binned >2.5 pinacle,binned >2.5 pinacle closing,binned <2.5 365,binned <2.5 365 closing,binned >2.5 365,binned >2.5 365 closing
0,F1,21/08/2020,18:00,Bordeaux,Nantes,0,0,D,0,0,...,"(65, 70]","(35, 40]","(65, 70]","(65, 70]","(30, 35]","(30, 35]","(70, 75]","(65, 70]","(30, 35]","(35, 40]"
1,F1,22/08/2020,16:00,Dijon,Angers,0,1,A,0,1,...,"(65, 70]","(35, 40]","(60, 65]","(65, 70]","(35, 40]","(35, 40]","(60, 65]","(65, 70]","(40, 45]","(35, 40]"
2,F1,22/08/2020,20:00,Lille,Rennes,1,1,D,1,0,...,"(60, 65]","(40, 45]","(60, 65]","(60, 65]","(40, 45]","(40, 45]","(60, 65]","(60, 65]","(40, 45]","(45, 50]"
3,F1,23/08/2020,12:00,Monaco,Reims,2,2,D,1,2,...,"(60, 65]","(40, 45]","(60, 65]","(60, 65]","(40, 45]","(40, 45]","(60, 65]","(60, 65]","(45, 50]","(40, 45]"
4,F1,23/08/2020,14:00,Lorient,Strasbourg,3,1,H,0,1,...,"(60, 65]","(40, 45]","(60, 65]","(60, 65]","(40, 45]","(35, 40]","(60, 65]","(65, 70]","(40, 45]","(35, 40]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,F1,21/05/2022,20:00,Lorient,Troyes,1,1,D,0,1,...,"(45, 50]","(55, 60]","(45, 50]","(45, 50]","(55, 60]","(55, 60]","(45, 50]","(45, 50]","(55, 60]","(55, 60]"
376,F1,21/05/2022,20:00,Marseille,Strasbourg,4,0,H,1,0,...,"(55, 60]","(45, 50]","(45, 50]","(55, 60]","(55, 60]","(45, 50]","(45, 50]","(55, 60]","(55, 60]","(45, 50]"
377,F1,21/05/2022,20:00,Nantes,St Etienne,1,1,D,1,0,...,"(40, 45]","(60, 65]","(40, 45]","(40, 45]","(60, 65]","(60, 65]","(40, 45]","(40, 45]","(60, 65]","(60, 65]"
378,F1,21/05/2022,20:00,Paris SG,Metz,5,0,H,3,0,...,"(20, 25]","(80, 85]","(30, 35]","(30, 35]","(75, 80]","(75, 80]","(20, 25]","(20, 25]","(80, 85]","(80, 85]"
379,F1,21/05/2022,20:00,Reims,Nice,2,3,A,2,0,...,"(45, 50]","(55, 60]","(40, 45]","(45, 50]","(55, 60]","(55, 60]","(45, 50]","(45, 50]","(60, 65]","(60, 65]"

## Final Dataset

### Average Market (AvG)

In [19]:
#Average Market UNDER opening odds
fdf_under_avg = data[['Implied Probability <2.5 avg','under_2.5_goals','binned <2.5 avg','payout_avg_under_2.5']]

#Average Market OVER opening odds
fdf_over_avg = data[['Implied Probability >2.5 avg','over_2.5_goals','binned >2.5 avg','payout_avg_over_2.5']]

#Average Market UNDER closing odds
fdf_under_avg_closing = data[['Implied Probability <2.5 avg closing','under_2.5_goals','binned <2.5 avg closing','payout_avg_under_closing_2.5']]

#Average Market OVER opening odds
fdf_over_avg_closing = data[['Implied Probability >2.5 avg closing','over_2.5_goals','binned >2.5 avg closing','payout_avg_over_closing_2.5']]

### Pinnacle

In [20]:
#pinnacle UNDER opening odds
fdf_under_pinacle = data[['Implied Probability <2.5 pinacle','under_2.5_goals','binned <2.5 pinacle','payout_under_2.5_pinacle']]

#pinnacle OVER opening odds
fdf_over_pinacle = data[['Implied Probability >2.5 pinacle','over_2.5_goals','binned >2.5 pinacle','payout_over_2.5_pinacle']]

#pinnacle UNDER closing odds
fdf_under_pinacle_closing = data[['Implied Probability <2.5 pinacle closing','under_2.5_goals','binned <2.5 pinacle closing','payout_under_2.5_pinacle_closing']]

#pinnacle OVER closing odds
fdf_over_pinacle_closing = data[['Implied Probability >2.5 pinacle closing','over_2.5_goals','binned >2.5 pinacle closing','payout_over_2.5_pinacle_closing']]

### bet365

In [21]:
#bet365 UNDER opening odds
fdf_under_365 = data[['Implied Probability <2.5 365','under_2.5_goals','binned <2.5 365','payout_under_2.5_365']]

#bet365 OVER opening odds
fdf_over_365 = data[['Implied Probability >2.5 365','over_2.5_goals','binned >2.5 365','payout_over_2.5_365']]

#bet365 UNDER closing odds
fdf_under_365_closing = data[['Implied Probability <2.5 365 closing','under_2.5_goals','binned <2.5 365 closing','payout_under_2.5_365_closing']]

#bet365 OVER closing odds
fdf_over_365_closing = data[['Implied Probability >2.5 365 closing','over_2.5_goals','binned >2.5 365 closing','payout_over_2.5_365_closing']]

## Results per implied prob Average Market

### Under

#### Avg opening odds

In [22]:
fdf_under_avg_gb_count = fdf_under_avg.groupby('binned <2.5 avg')['payout_avg_under_2.5'].count()
fdf_under_avg_gb_count

binned <2.5 avg
(0, 5]         0
(5, 10]        0
(10, 15]       0
(15, 20]       0
(20, 25]       7
(25, 30]       8
(30, 35]      29
(35, 40]      47
(40, 45]      86
(45, 50]     150
(50, 55]     222
(55, 60]     270
(60, 65]     168
(65, 70]      46
(70, 75]       6
(75, 80]       0
(80, 85]       0
(85, 90]       0
(90, 95]       0
(95, 100]      0
Name: payout_avg_under_2.5, dtype: int64

In [23]:
fdf_under_avg_gb_mean = fdf_under_avg.groupby('binned <2.5 avg')['payout_avg_under_2.5'].mean()
fdf_under_avg_gb_mean

binned <2.5 avg
(0, 5]            NaN
(5, 10]           NaN
(10, 15]          NaN
(15, 20]          NaN
(20, 25]     0.000000
(25, 30]     0.845000
(30, 35]     0.642069
(35, 40]     1.232979
(40, 45]     0.875233
(45, 50]     0.862067
(50, 55]     0.965135
(55, 60]     0.906296
(60, 65]     0.929524
(65, 70]     1.039783
(70, 75]     0.701667
(75, 80]          NaN
(80, 85]          NaN
(85, 90]          NaN
(90, 95]          NaN
(95, 100]         NaN
Name: payout_avg_under_2.5, dtype: float64

#### Avg closing odds

In [24]:
fdf_under_avg_closing_gb_count = fdf_under_avg_closing.groupby('binned <2.5 avg closing')['payout_avg_under_closing_2.5'].count()
fdf_under_avg_closing_gb_count

binned <2.5 avg closing
(0, 5]         0
(5, 10]        0
(10, 15]       0
(15, 20]       0
(20, 25]      11
(25, 30]      13
(30, 35]      28
(35, 40]      55
(40, 45]      89
(45, 50]     157
(50, 55]     214
(55, 60]     235
(60, 65]     163
(65, 70]      68
(70, 75]       6
(75, 80]       0
(80, 85]       0
(85, 90]       0
(90, 95]       0
(95, 100]      0
Name: payout_avg_under_closing_2.5, dtype: int64

In [25]:
fdf_under_avg_closing_gb_mean = fdf_under_avg_closing.groupby('binned <2.5 avg closing')['payout_avg_under_closing_2.5'].mean()
fdf_under_avg_closing_gb_mean

binned <2.5 avg closing
(0, 5]            NaN
(5, 10]           NaN
(10, 15]          NaN
(15, 20]          NaN
(20, 25]     0.412727
(25, 30]     0.562308
(30, 35]     0.873929
(35, 40]     1.061091
(40, 45]     0.784494
(45, 50]     0.874140
(50, 55]     0.956916
(55, 60]     0.945021
(60, 65]     0.996810
(65, 70]     0.850441
(70, 75]     1.163333
(75, 80]          NaN
(80, 85]          NaN
(85, 90]          NaN
(90, 95]          NaN
(95, 100]         NaN
Name: payout_avg_under_closing_2.5, dtype: float64

### Over

#### Opening Odds

In [26]:
fdf_over_avg_gb_count = fdf_over_avg.groupby('binned >2.5 avg')['payout_avg_over_2.5'].count()
fdf_over_avg_gb_count

binned >2.5 avg
(0, 5]         0
(5, 10]        0
(10, 15]       0
(15, 20]       0
(20, 25]       0
(25, 30]       0
(30, 35]       4
(35, 40]      46
(40, 45]     162
(45, 50]     284
(50, 55]     227
(55, 60]     137
(60, 65]      85
(65, 70]      46
(70, 75]      31
(75, 80]       9
(80, 85]       7
(85, 90]       1
(90, 95]       0
(95, 100]      0
Name: payout_avg_over_2.5, dtype: int64

In [27]:
fdf_over_avg_gb_mean = fdf_over_avg.groupby('binned >2.5 avg')['payout_avg_over_2.5'].mean()
fdf_over_avg_gb_mean

binned >2.5 avg
(0, 5]            NaN
(5, 10]           NaN
(10, 15]          NaN
(15, 20]          NaN
(20, 25]          NaN
(25, 30]          NaN
(30, 35]     1.462500
(35, 40]     0.733043
(40, 45]     1.025247
(45, 50]     1.006197
(50, 55]     0.928678
(55, 60]     1.011387
(60, 65]     1.017647
(65, 70]     0.829348
(70, 75]     1.024194
(75, 80]     0.866667
(80, 85]     1.225714
(85, 90]     1.160000
(90, 95]          NaN
(95, 100]         NaN
Name: payout_avg_over_2.5, dtype: float64

#### Closing Odds

In [28]:
fdf_over_avg_closing_gb_count = fdf_over_avg_closing.groupby('binned >2.5 avg closing')['payout_avg_over_closing_2.5'].count()
fdf_over_avg_closing_gb_count

binned >2.5 avg closing
(0, 5]         0
(5, 10]        0
(10, 15]       0
(15, 20]       0
(20, 25]       0
(25, 30]       0
(30, 35]       3
(35, 40]      66
(40, 45]     153
(45, 50]     254
(50, 55]     215
(55, 60]     148
(60, 65]      93
(65, 70]      53
(70, 75]      24
(75, 80]      15
(80, 85]      14
(85, 90]       1
(90, 95]       0
(95, 100]      0
Name: payout_avg_over_closing_2.5, dtype: int64

In [29]:
fdf_over_avg_closing_gb_mean = fdf_over_avg_closing.groupby('binned >2.5 avg closing')['payout_avg_over_closing_2.5'].mean()
fdf_over_avg_closing_gb_mean

binned >2.5 avg closing
(0, 5]            NaN
(5, 10]           NaN
(10, 15]          NaN
(15, 20]          NaN
(20, 25]          NaN
(25, 30]          NaN
(30, 35]     0.000000
(35, 40]     0.988485
(40, 45]     0.946797
(45, 50]     0.949016
(50, 55]     0.951209
(55, 60]     1.002635
(60, 65]     1.067312
(65, 70]     0.895283
(70, 75]     0.917917
(75, 80]     1.129333
(80, 85]     1.042857
(85, 90]     1.160000
(90, 95]          NaN
(95, 100]         NaN
Name: payout_avg_over_closing_2.5, dtype: float64

## Results per implied prob Pinnacle

### Under

#### Pinnacle opening odds

In [30]:
fdf_under_pinacle_gb_count = fdf_under_pinacle.groupby('binned <2.5 pinacle')['payout_under_2.5_pinacle'].count()
fdf_under_pinacle_gb_count

binned <2.5 pinacle
(0, 5]         0
(5, 10]        0
(10, 15]       0
(15, 20]       1
(20, 25]       8
(25, 30]       7
(30, 35]      36
(35, 40]      59
(40, 45]      87
(45, 50]     179
(50, 55]     216
(55, 60]     260
(60, 65]     141
(65, 70]      40
(70, 75]       2
(75, 80]       0
(80, 85]       0
(85, 90]       0
(90, 95]       0
(95, 100]      0
Name: payout_under_2.5_pinacle, dtype: int64

In [31]:
fdf_under_pinacle_gb_mean = fdf_under_pinacle.groupby('binned <2.5 pinacle')['payout_under_2.5_pinacle'].mean()
fdf_under_pinacle_gb_mean

binned <2.5 pinacle
(0, 5]            NaN
(5, 10]           NaN
(10, 15]          NaN
(15, 20]     0.000000
(20, 25]     0.000000
(25, 30]     0.490000
(30, 35]     0.857778
(35, 40]     1.116949
(40, 45]     0.920000
(45, 50]     0.910726
(50, 55]     0.980139
(55, 60]     0.956923
(60, 65]     0.903404
(65, 70]     1.006250
(70, 75]     0.705000
(75, 80]          NaN
(80, 85]          NaN
(85, 90]          NaN
(90, 95]          NaN
(95, 100]         NaN
Name: payout_under_2.5_pinacle, dtype: float64

In [32]:
fdf_under_pinacle['payout_under_2.5_pinacle'].mean()

0.9390154440154439

In [33]:
fdf_under_pinacle_above_40 = fdf_under_pinacle[fdf_under_pinacle['Implied Probability <2.5 pinacle']>40]

In [34]:
fdf_under_pinacle_above_40['payout_under_2.5_pinacle'].mean()

0.9433621621621622

#### Closing Odds

In [35]:
fdf_under_pinacle_closing_gb_count = fdf_under_pinacle_closing.groupby('binned <2.5 pinacle closing')['payout_under_2.5_pinacle_closing'].count()
fdf_under_pinacle_closing_gb_count

binned <2.5 pinacle closing
(0, 5]         0
(5, 10]        0
(10, 15]       0
(15, 20]       3
(20, 25]       6
(25, 30]      19
(30, 35]      29
(35, 40]      62
(40, 45]      99
(45, 50]     181
(50, 55]     204
(55, 60]     245
(60, 65]     128
(65, 70]      60
(70, 75]       3
(75, 80]       0
(80, 85]       0
(85, 90]       0
(90, 95]       0
(95, 100]      0
Name: payout_under_2.5_pinacle_closing, dtype: int64

In [36]:
fdf_under_pinacle_closing_gb_mean = fdf_under_pinacle_closing.groupby('binned <2.5 pinacle closing')['payout_under_2.5_pinacle_closing'].mean()
fdf_under_pinacle_closing_gb_mean

binned <2.5 pinacle closing
(0, 5]            NaN
(5, 10]           NaN
(10, 15]          NaN
(15, 20]     0.000000
(20, 25]     0.000000
(25, 30]     0.723684
(30, 35]     0.742414
(35, 40]     1.035000
(40, 45]     0.809697
(45, 50]     0.980994
(50, 55]     0.953676
(55, 60]     0.985224
(60, 65]     0.955313
(65, 70]     0.892667
(70, 75]     1.396667
(75, 80]          NaN
(80, 85]          NaN
(85, 90]          NaN
(90, 95]          NaN
(95, 100]         NaN
Name: payout_under_2.5_pinacle_closing, dtype: float64

In [37]:
fdf_under_pinacle_closing_gb_agg = fdf_under_pinacle_closing.groupby('binned <2.5 pinacle closing')['payout_under_2.5_pinacle_closing'].agg(['count', 'mean', 'median', 'max'])
fdf_under_pinacle_closing_gb_agg

                             count      mean  median   max
binned <2.5 pinacle closing
(0, 5]                           0       NaN     NaN   NaN
(5, 10]                          0       NaN     NaN   NaN
(10, 15]                         0       NaN     NaN   NaN
(15, 20]                         3  0.000000    0.00  0.00
(20, 25]                         6  0.000000    0.00  0.00
(25, 30]                        19  0.723684    0.00  3.50
(30, 35]                        29  0.742414    0.00  3.27
(35, 40]                        62  1.035000    0.00  2.84
(40, 45]                        99  0.809697    0.00  2.49
(45, 50]                       181  0.980994    0.00  2.22
(50, 55]                       204  0.953676    0.91  1.99
(55, 60]                       245  0.985224    1.68  1.81
(60, 65]                       128  0.955313    1.57  1.66
(65, 70]                        60  0.892667    1.46  1.53
(70, 75]                         3  1.396667    1.40  1.42
(75, 80]                         0       NaN     NaN   NaN
(80, 85]                         0       NaN     NaN   NaN
(85, 90]                         0       NaN     NaN   NaN
(90, 95]                         0       NaN     NaN   NaN
(95, 100]                        0       NaN     NaN   NaN

### Over

#### Opening odds

In [38]:
fdf_over_pinacle_gb_count = fdf_over_pinacle.groupby('binned >2.5 pinacle')['payout_over_2.5_pinacle'].count()
fdf_over_pinacle_gb_count

binned >2.5 pinacle
(0, 5]         0
(5, 10]        0
(10, 15]       0
(15, 20]       0
(20, 25]       0
(25, 30]       0
(30, 35]      12
(35, 40]      65
(40, 45]     197
(45, 50]     282
(50, 55]     191
(55, 60]     133
(60, 65]      78
(65, 70]      40
(70, 75]      25
(75, 80]       6
(80, 85]       6
(85, 90]       1
(90, 95]       0
(95, 100]      0
Name: payout_over_2.5_pinacle, dtype: int64

In [39]:
fdf_over_pinacle.groupby('binned >2.5 pinacle')['payout_over_2.5_pinacle'].mean()

binned >2.5 pinacle
(0, 5]            NaN
(5, 10]           NaN
(10, 15]          NaN
(15, 20]          NaN
(20, 25]          NaN
(25, 30]          NaN
(30, 35]     0.756667
(35, 40]     1.088462
(40, 45]     1.010051
(45, 50]     0.993369
(50, 55]     0.977173
(55, 60]     1.050902
(60, 65]     0.940513
(65, 70]     0.879000
(70, 75]     1.047200
(75, 80]     1.081667
(80, 85]     1.220000
(85, 90]     1.150000
(90, 95]          NaN
(95, 100]         NaN
Name: payout_over_2.5_pinacle, dtype: float64

In [40]:
fdf_over_pinacle_gb_mean = fdf_over_pinacle['payout_over_2.5_pinacle'].mean()
fdf_over_pinacle_gb_mean

0.9990444015444016

In [41]:
fdf_over_pinacle_above_60 = fdf_over_pinacle[fdf_over_pinacle['Implied Probability >2.5 pinacle']>60]

In [42]:
fdf_over_pinacle_above_60['payout_over_2.5_pinacle'].mean()

0.9593589743589743

#### Closing odds

In [43]:
fdf_over_pinacle_closing_gb_count = fdf_over_pinacle_closing.groupby('binned >2.5 pinacle closing')['payout_over_2.5_pinacle_closing'].count()
fdf_over_pinacle_closing_gb_count

binned >2.5 pinacle closing
(0, 5]         0
(5, 10]        0
(10, 15]       0
(15, 20]       0
(20, 25]       0
(25, 30]       0
(30, 35]      17
(35, 40]      86
(40, 45]     194
(45, 50]     240
(50, 55]     199
(55, 60]     124
(60, 65]      85
(65, 70]      48
(70, 75]      28
(75, 80]      10
(80, 85]       6
(85, 90]       2
(90, 95]       0
(95, 100]      0
Name: payout_over_2.5_pinacle_closing, dtype: int64

In [44]:
fdf_over_pinacle_closing_gb_mean = fdf_over_pinacle_closing.groupby('binned >2.5 pinacle closing')['payout_over_2.5_pinacle_closing'].mean()
fdf_over_pinacle_closing_gb_mean

binned >2.5 pinacle closing
(0, 5]            NaN
(5, 10]           NaN
(10, 15]          NaN
(15, 20]          NaN
(20, 25]          NaN
(25, 30]          NaN
(30, 35]     0.511176
(35, 40]     1.168837
(40, 45]     0.937577
(45, 50]     0.992792
(50, 55]     0.949447
(55, 60]     1.080242
(60, 65]     1.038118
(65, 70]     0.896458
(70, 75]     1.027143
(75, 80]     1.037000
(80, 85]     1.215000
(85, 90]     1.170000
(90, 95]          NaN
(95, 100]         NaN
Name: payout_over_2.5_pinacle_closing, dtype: float64

In [45]:
fdf_over_pinacle_closing_gb_agg = fdf_over_pinacle_closing.groupby('binned >2.5 pinacle closing')['payout_over_2.5_pinacle_closing'].agg(['count', 'mean', 'median', 'max'])
fdf_over_pinacle_closing_gb_agg

                             count      mean  median   max
binned >2.5 pinacle closing
(0, 5]                           0       NaN     NaN   NaN
(5, 10]                          0       NaN     NaN   NaN
(10, 15]                         0       NaN     NaN   NaN
(15, 20]                         0       NaN     NaN   NaN
(20, 25]                         0       NaN     NaN   NaN
(25, 30]                         0       NaN     NaN   NaN
(30, 35]                        17  0.511176   0.000  2.92
(35, 40]                        86  1.168837   0.000  2.81
(40, 45]                       194  0.937577   0.000  2.49
(45, 50]                       240  0.992792   0.000  2.22
(50, 55]                       199  0.949447   0.000  1.99
(55, 60]                       124  1.080242   1.685  1.81
(60, 65]                        85  1.038118   1.570  1.66
(65, 70]                        48  0.896458   1.440  1.53
(70, 75]                        28  1.027143   1.350  1.42
(75, 80]                        10  1.037000   1.280  1.33
(80, 85]                         6  1.215000   1.215  1.24
(85, 90]                         2  1.170000   1.170  1.17
(90, 95]                         0       NaN     NaN   NaN
(95, 100]                        0       NaN     NaN   NaN

## Results per implied prob bet365

### Under

#### Opening odds

In [46]:
fdf_under_bet365_gb_count = fdf_under_365.groupby('binned <2.5 365')['payout_under_2.5_365'].count()
fdf_under_bet365_gb_count

binned <2.5 365
(0, 5]         0
(5, 10]        0
(10, 15]       0
(15, 20]       1
(20, 25]       8
(25, 30]      12
(30, 35]      27
(35, 40]      60
(40, 45]      45
(45, 50]     206
(50, 55]     165
(55, 60]     224
(60, 65]     205
(65, 70]      75
(70, 75]       7
(75, 80]       0
(80, 85]       0
(85, 90]       0
(90, 95]       0
(95, 100]      0
Name: payout_under_2.5_365, dtype: int64

In [47]:
fdf_under_bet365_gb_mean = fdf_under_365.groupby('binned <2.5 365')['payout_under_2.5_365'].mean()
fdf_under_bet365_gb_mean

binned <2.5 365
(0, 5]            NaN
(5, 10]           NaN
(10, 15]          NaN
(15, 20]     0.000000
(20, 25]     0.000000
(25, 30]     0.858333
(30, 35]     0.807407
(35, 40]     1.118167
(40, 45]     0.831778
(45, 50]     0.866311
(50, 55]     0.991212
(55, 60]     0.932321
(60, 65]     0.912878
(65, 70]     0.948800
(70, 75]     0.788571
(75, 80]          NaN
(80, 85]          NaN
(85, 90]          NaN
(90, 95]          NaN
(95, 100]         NaN
Name: payout_under_2.5_365, dtype: float64

In [48]:
fdf_under_365['payout_under_2.5_365'].mean()

0.91912077294686

In [49]:
fdf_under_365_above_40 = fdf_under_365[fdf_under_365['Implied Probability <2.5 365']>40]

In [50]:
fdf_under_365_above_40['payout_under_2.5_365'].mean()

0.9192017259978426

#### Closing odds

In [51]:
fdf_under_bet365_closing_gb_count = fdf_under_365_closing.groupby('binned <2.5 365 closing')['payout_under_2.5_365_closing'].count()
fdf_under_bet365_closing_gb_count

binned <2.5 365 closing
(0, 5]         0
(5, 10]        0
(10, 15]       0
(15, 20]       1
(20, 25]      18
(25, 30]      14
(30, 35]      22
(35, 40]      59
(40, 45]      64
(45, 50]     211
(50, 55]     144
(55, 60]     197
(60, 65]     208
(65, 70]      94
(70, 75]       7
(75, 80]       0
(80, 85]       0
(85, 90]       0
(90, 95]       0
(95, 100]      0
Name: payout_under_2.5_365_closing, dtype: int64

In [52]:
fdf_under_bet365_closing_gb_mean = fdf_under_365_closing.groupby('binned <2.5 365 closing')['payout_under_2.5_365_closing'].mean()
fdf_under_bet365_closing_gb_mean

binned <2.5 365 closing
(0, 5]            NaN
(5, 10]           NaN
(10, 15]          NaN
(15, 20]     0.000000
(20, 25]     0.472222
(25, 30]     0.492857
(30, 35]     1.281818
(35, 40]     0.933729
(40, 45]     0.834219
(45, 50]     0.867014
(50, 55]     0.956319
(55, 60]     0.978122
(60, 65]     0.951683
(65, 70]     0.861383
(70, 75]     1.388571
(75, 80]          NaN
(80, 85]          NaN
(85, 90]          NaN
(90, 95]          NaN
(95, 100]         NaN
Name: payout_under_2.5_365_closing, dtype: float64

### Over

#### Opening Odds

In [53]:
fdf_over_bet365_gb_count = fdf_over_365.groupby('binned >2.5 365')['payout_over_2.5_365'].count()
fdf_over_bet365_gb_count

binned >2.5 365
(0, 5]         0
(5, 10]        0
(10, 15]       0
(15, 20]       0
(20, 25]       0
(25, 30]       0
(30, 35]       7
(35, 40]      75
(40, 45]     109
(45, 50]     348
(50, 55]     169
(55, 60]     132
(60, 65]      87
(65, 70]      60
(70, 75]      27
(75, 80]      14
(80, 85]       6
(85, 90]       1
(90, 95]       0
(95, 100]      0
Name: payout_over_2.5_365, dtype: int64

In [54]:
fdf_over_bet365_gb_mean = fdf_over_365.groupby('binned >2.5 365')['payout_over_2.5_365'].mean()
fdf_over_bet365_gb_mean

binned >2.5 365
(0, 5]            NaN
(5, 10]           NaN
(10, 15]          NaN
(15, 20]          NaN
(20, 25]          NaN
(25, 30]          NaN
(30, 35]     1.314286
(35, 40]     0.939733
(40, 45]     1.041651
(45, 50]     0.953534
(50, 55]     0.901479
(55, 60]     1.085758
(60, 65]     1.007701
(65, 70]     0.843500
(70, 75]     1.022222
(75, 80]     1.024286
(80, 85]     1.220000
(85, 90]     1.160000
(90, 95]          NaN
(95, 100]         NaN
Name: payout_over_2.5_365, dtype: float64

In [55]:
fdf_over_365['payout_over_2.5_365'].mean()

0.9752850241545894

#### Closing Odds

In [56]:
fdf_over_bet365_closing_gb_count = fdf_over_365_closing.groupby('binned >2.5 365 closing')['payout_over_2.5_365_closing'].count()
fdf_over_bet365_closing_gb_count

binned >2.5 365 closing
(0, 5]         0
(5, 10]        0
(10, 15]       0
(15, 20]       0
(20, 25]       0
(25, 30]       0
(30, 35]       7
(35, 40]      94
(40, 45]     111
(45, 50]     317
(50, 55]     143
(55, 60]     148
(60, 65]     105
(65, 70]      59
(70, 75]      22
(75, 80]      21
(80, 85]      11
(85, 90]       1
(90, 95]       0
(95, 100]      0
Name: payout_over_2.5_365_closing, dtype: int64

In [57]:
fdf_over_bet365_closing_gb_mean = fdf_over_365_closing.groupby('binned >2.5 365 closing')['payout_over_2.5_365_closing'].mean()
fdf_over_bet365_closing_gb_mean

binned >2.5 365 closing
(0, 5]            NaN
(5, 10]           NaN
(10, 15]          NaN
(15, 20]          NaN
(20, 25]          NaN
(25, 30]          NaN
(30, 35]     0.000000
(35, 40]     1.090106
(40, 45]     0.878468
(45, 50]     0.957539
(50, 55]     0.933007
(55, 60]     0.941892
(60, 65]     1.126571
(65, 70]     0.966102
(70, 75]     0.816364
(75, 80]     1.109048
(80, 85]     1.105455
(85, 90]     1.160000
(90, 95]          NaN
(95, 100]         NaN
Name: payout_over_2.5_365_closing, dtype: float64

In [58]:
fdf_over_365_closing['payout_over_2.5_365_closing'].mean()

0.9684311838306064